<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="86c13a06-fef2-4ebd-b3bd-6c85e56d1e4d" name="WebStoreTestSuite" authProfile="Dermot@Localhost" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="86c13a06-fef2-4ebd-b3bd-6c85e56d1e4dfileName">WebStoreTestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
